# Données
data/raw/
data/processed/

# Python
*.pyc
__pycache__/

# Environnements virtuels
.venv/
venv/

# Variables d'environnement
.env

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# Modèles entraînés (optionnel)
models/

# VS Code (optionnel)
.vscode/