# Donnees
data/raw/
data/processed/
# Python
*.pyc
__pycache__/
# Environnements virtuels
.venv/
venv/
# Variables d'environnement
.env
# MLflow
mlruns/
# Jupyter
.ipynb_checkpoints/
# Modeles entraines (optionnel)
models/
# VS Code (optionnel)
.vscode/
# DuckDB
*.duckdb

debug_model.py

dagster_home/
